<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="text-end mt-4">
          <button class="btn btn-primary" @click="newProductModal">建立新的產品</button>
        </div>
        <table class="table mt-4">
          <thead>
            <tr>
              <th width="120">分類</th>
              <th>產品名稱</th>
              <th width="120">原價</th>
              <th width="120">售價</th>
              <th width="100">是否啟用</th>
              <th width="120">編輯</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(product, index) in products" : key="product.id">
              <tr>
                <td>
                  <span class="badge mx-1" :class="tagColor(key)" v-for="(item,key) in product.category.split(',')">{{ item }}</span>
                </td>
                <td>{{ product.title }}</td>
                <td class="text-end">{{ product.origin_price }}</td>
                <td class="text-end">{{ product.price }}</td>
                <td>
                  <span class="text-success" v-if="product.is_enabled">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                      <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                      <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                    </svg>
                    啟用</span
                  >
                  <span v-else>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                      />
                    </svg>
                    未啟用</span
                  >
                </td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary btn-sm" @click="editProductModal(product)">編輯</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" @click="deleteProductModal(product)">刪除</button>
                  </div>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
        <pagination :pages="pages" :current-page="currentPage" @to-page="toPage" v-if="pages.total_pages"></pagination>
      </div>
      <!-- Modal -->
      <product-modal :temp-product="tempProduct" @add-image="addImage" @new-or-update-product="newOrUpdateProduct"></product-modal>
      <delete-product-modal :temp-product="tempProduct" @delete-product="deleteProduct"></delete-product-modal>
    </div>
  </body>
</html>
